:root {
    background-color: #ffffff;

}

body {
    display: flex;
    place-items: center;
    min-height: 100vh;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.cartao {
    width: 23.4rem;
    min-height: 13rem;
    border-radius: 50px;
    background: #e70606;
    
}
